<ul class="right">
    <li>
      <a href="#" data-toggle="modal" data-target="#signUpModal" id='signup'> Sign Up </a>
    </li>
    <li><a href="#" data-toggle="modal" data-target="#loginModal" id='login'> Login </a></li>
</ul>

