<div class="pic-container">
        <center>
        <div class="name"><span>Present Moments</span> </div>
      </center>
        <center>
            <div class="pic-row">
                <div class="pic-holder">
                        <div class="pic-frame">
                          <img src="/assets/cats.jpg" alt="cats">
                        </div>
                </div>
                <div class="pic-holder">
                        <div class="pic-frame">
                          <img src="/assets/cats.jpg" alt="cats">
                        </div>
                </div>
                <div class="pic-holder">
                        <div class="pic-frame">
                          <img src="/assets/cats.jpg" alt="cats">
                        </div>
                </div>
            </div>
        </center>
        <center>
            <div class="pic-row second-row">
                <div class="pic-holder">
                        <div class="pic-frame">
                          <img src="/assets/cats.jpg" alt="cats">
                        </div>
                </div>
                <div class="pic-holder">
                        <div class="pic-frame">
                          <img src="/assets/cats.jpg" alt="cats">
                        </div>
                </div>
                <div class="pic-holder">
                        <div class="pic-frame">
                          <img src="/assets/cats.jpg" alt="cats">
                        </div>
                </div>
            </div>
        </center>
        <div data-add-pic class="button-blue add-pic">Add Moment</div>
