<div class="pic-container">
        <center>
        <div class="name"><span>This Present Moment</span> </div>
      </center>
        <center>
            <div class="pic-row">
                <div data-new-pics class="pic-holder">

                        <% @pics.each do |pic| %>
                        <div class="pic-frame">
                          <%= image_tag pic.image.url %>
                        </div>
                        <% end %>
                </div>
                <!-- <div class="pic-holder">
                        <div class="pic-frame">
                        </div>
                </div>
                <div class="pic-holder">
                        <div class="pic-frame">
                          <img src="/assets/cats.jpg" alt="cats">
                        </div>
                </div>
                <div class="pic-holder">
                        <div class="pic-frame">
                          <img src="/assets/cats.jpg" alt="cats">
                        </div>
                </div>
                <div class="pic-holder">
                        <div class="pic-frame">
                          <img src="/assets/cats.jpg" alt="cats">
                        </div>
                </div>
                <div class="pic-holder">
                        <div class="pic-frame">
                          <img src="/assets/cats.jpg" alt="cats">
                        </div>
                </div>
                   <div class="pic-holder">
                        <div class="pic-frame">
                          <img src="/assets/cats.jpg" alt="cats">
                        </div>
                </div>
                <div class="pic-holder">
                        <div class="pic-frame">
                          <img src="/assets/cats.jpg" alt="cats">
                        </div>
                </div>
                <div class="pic-holder">
                        <div class="pic-frame">
                          <img src="/assets/cats.jpg" alt="cats">
                        </div>
                </div> -->
            </div>
        </center>
        <a href="/pics/new"><div data-add-pic class="button-blue add-pic">Add Moment</div></a><br><br>
