<div class="pic-container">
        <center>
        <div class="name"><span>This Present Moment</span> </div>
      </center>
        <center>
            <div class="pic-row">
                <div data-old-pics class="pic-holder">
                        <% @pics.each do |pic| %>
                        <div class="pic-frame">
                          <%= image_tag pic.image.url %>
                        </div>
                        <% end %>
                </div>
                <div class='pic-holder'>
                    <div data-new-pic-0 class="pic-frame">
                    </div>
                    <div data-new-pic-1 class="pic-frame">
                    </div>
                    <div data-new-pic-2 class="pic-frame">
                    </div>
                    <div data-new-pic-3 class="pic-frame">
                    </div>
                    <div data-new-pic-4 class="pic-frame">
                    </div>
                    <div data-new-pic-5 class="pic-frame">
                    </div>
                    <div data-new-pic-6 class="pic-frame">
                    </div>
                    <div data-new-pic-7 class="pic-frame">
                    </div>
                    <div data-new-pic-8 class="pic-frame">
                    </div>
                </div>
            </div>
        </center>
        <a href="/pics/new"><div data-add-pic class="button-blue add-pic">Share Moment</div></a><br><br>
