<% content_for :head do %>
  <script type="text/javascript">
    setTimeout(function() {
      console.log("mooop")
      window.location = '/pics'
    }, 30000);
  </script>
<% end %>

<div class="pic-container">
        <center>
            <div class="pic-row">
                <div data-new-pics class="pic-holder">
                  <br>
                  <div class="single-pic-frame">
                    <%= image_tag @pic.image.url %>
                  </div>
                    <div class="nav"><span>Location: <%= @pic.location %></span> </div><br><br>
                      <a href='/pics' class='button-blue add-pic'> More Moments
                      </a>
                </div>
            </div>
        </center><br><br>
</div>
