.photo-container {
    background-color: rgba(200, 255, 200, .5);
    max-height: 700px;
    width: 720px;
    margin: 2rem auto;
    border: 2px solid rgba(170, 255, 170, .5);
    border-radius: 1rem;
    padding: 2rem 1rem;
}
