.pic-container {
    background-color: rgba(221, 234, 253, .5);
    height: auto;
    max-width: 905px;
    margin: 2rem auto;
    /*border: 2px solid rgba(24, 9, 112, .5);*/
    border-radius: 1rem;
    /*padding: 2rem 1rem;*/
}
.name {
    height: auto;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(150, 192, 253, .7);
    margin: 0 auto .5rem;
    border-radius: 5px;
    font-size: 1rem;
    padding: 1rem;
    line-height: 1.25rem;
    letter-spacing: 1px;
}
.name span {
    font-weight: bold;
    font-family: "Comic Sans MS";
}
.pic-row {
    display: inline-block;
    /*margin-left: 2rem;*/
}
.pic-holder {
    display: inline-block;
    /*margin: 0 0 1rem 1rem;*/
}
.pic-frame {
    display: inline-block;
    max-width: 300px;
    max-height: 300px;
    margin: .5px;
    float: left;
}
.pic-frame img{
    display: inline-block;
    height: 300px;
    width: 300px;
    /*border-radius: 17px;*/
}
.single-pic-frame {
    display: inline-block;
    max-width: 600px;
    max-height: 600px;
    margin: .5px;
    /*float: left;*/
}
.single-pic-frame img{
    display: inline-block;
    height: 600px;
    width: 600px;
    /*border-radius: 17px;*/
}
.add-pic{
    height: 2.5rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    /*background-color: rgba(100, 225, 100, 1);*/
    text-align: center;
    font-family: "Comic Sans MS";
    width: 15rem;
    margin: 3rem auto 0;
    border-radius: 5px;
    line-height: 2.3rem;
    font-size: 2rem;
    padding: .1rem;
}

.field {
    height: 2.5rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    /*background-color: rgba(100, 225, 100, 1);*/
    text-align: center;
    font-family: "Comic Sans MS";
    width: 15rem;
    /*margin: 3rem auto 0;*/
    border-radius: 5px;
    line-height: 2.3rem;
    font-size: 2rem;
    padding: .1rem;
}






