.pic-container {
    background-color: rgba(221, 234, 253, .5);
    height: auto;
    max-width: 905px;
    margin: 2rem auto;
    /*border: 2px solid rgba(24, 9, 112, .5);*/
    border-radius: 1rem;
    /*padding: 2rem 1rem;*/
}
.nav {
    height: 1rem;
    max-width: 905px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(150, 192, 253, .7);
    margin: 0 auto .5rem;
    border-radius: 5px;
    font-size: 1rem;
    padding: 1rem;
    line-height: 1.25rem;
    letter-spacing: 1px;
}
.nav span {
    float: left;
    font-weight: bold;
    font-family: "Comic Sans MS";
}
.right{
    float: right;
    display: inline-flex;
    list-style-type: none

}
.right li{
    padding-right: 1rem;
}
.pic-row {
    display: inline-block;
    /*margin-left: 2rem;*/
}
.pic-holder {
    display: inline-block;
    /*margin: 0 0 1rem 1rem;*/
}
.pic-frame {
    display: inline-block;
    max-width: 300px;
    max-height: 300px;
    margin: .5px;
    float: left;
}
.pic-frame img{
    display: inline-block;
    height: 300px;
    width: 300px;
    border-radius: 5px;
}
.single-pic-frame {
    display: inline-block;
    max-width: 600px;
    max-height: 600px;
    margin: .5px;
    /*float: left;*/
}
.single-pic-frame img{
    display: inline-block;
    height: 600px;
    width: 600px;
    /*border-radius: 17px;*/
}
.add-pic{
    height: 2.5rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    /*background-color: rgba(100, 225, 100, 1);*/
    text-align: center;
    font-family: "Comic Sans MS";
    width: 15rem;
    margin: 3rem auto 0;
    border-radius: 5px;
    line-height: 2.3rem;
    font-size: 2rem;
    padding: .1rem;
}
.field {
    height: 2.5rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    /*background-color: rgba(100, 225, 100, 1);*/
    text-align: center;
    font-family: "Comic Sans MS";
    width: 15rem;
    /*margin: 3rem auto 0;*/
    border-radius: 5px;
    line-height: 2.3rem;
    font-size: 2rem;
    padding: .1rem;
}
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
}
.modal-text {
    position: fixed;
    font-family: "Comic Sans MS";
    background-color: rgba(255, 255, 255, 1);
    right: 25%;
    bottom: 25%;
    left: 25%;
    border-radius: 25px;
    padding: 1rem;
}
.form-control {
    margin-top: .2em;
    margin-bottom: .2em;
    width: 15em;
    border-radius: 5px;
}



